/**
 * show the period of drawing qq logo
 *
 * the animation module will be added a class 'period'
 */

/**
 * stage init
 */
body.period {
	background: url(../assets/bg_wrap.png);
	overflow: hidden;
}

header, .copyright{
	-webkit-transition: 0.8s all ease-in-out;
}

.copyright.period {
	top: 130px;
	width: 500px;
}
header.period {
	top:10px;
	width: 500px;
	color:#FD971F;
}

.periodInfo {
	-webkit-transition: 1s all ease-in-out;
	position: absolute;
	top: -100px;
	width: 100%;
	text-align: center;
	height: 60px;
	font-size: 40px;
	line-height: 60px;
	font-family: 'Segoe UI Light','Segoe UI','Microsoft Jhenghei','微软雅黑',sans-serif;
	color: #36B331;
}

.periodInfo.period{
	top: 100px;
}

/**
 * module period definition
 */
.head, .handWrapper, .body, .footWrapper,.mouthTop, .mouthBottom, .lips, .lipShadow,
.scarfShadow, .scarfShadowRight, .scarfEndShadow,
.toe, .inner, .outter, .scarfEnd {
	-webkit-transition: 1s all ease;
}

.head.period {	
	-webkit-transition: 0.6s all ease;
	position: absolute;
	top:-800px;
	border: 1px solid #000;
	border-radius: 0;
	background-color: transparent;
}


.body.period {
	/*-webkit-transition: 0.6s all ease;*/
	top: 235px;
	left: 1200px;
}

.handWrapper.period {
	/*-webkit-transition: 0.6s all ease;*/
	left: -1500px;
}

.footWrapper.period {
	/*-webkit-transition: 0.6s all ease;*/
	top: 1000px;
}


.mouthTop.period, .mouthBottom.period, .lips.period, .lipShadow.period,
.scarfShadow.period, .scarfShadowRight.period, .scarfEndShadow.period,
.toe.period, .inner.period, .outter.period, .scarfEnd.period{
	/*-webkit-transition: 0.6s all ease;*/
	background: transparent;
	border-radius: 0;
	opacity: 0;
}

.scarf.period {
	border-radius: 0;
	background: transparent;
}

.lipShadow.period{
	-webkit-transform:rotate(0deg);
	border-top-color:#FC9D2D;
	border-bottom-color:#FC9D2D;
}

.scarfShadow.period, .scarfShadowRight.period, .scarfEndShadow.period{
	-webkit-transform: rotate(0deg);
}

.eye.period{
	border:1px solid #000;
	border-radius: 0;
	position: absolute;	
	background: transparent;
	opacity: 0;
}

/**
 * head animation
 */

.head.animation1{
	-webkit-animation-name: headAni1;
	-webkit-animation-duration: 2s;
	top:18px;
	border-top-left-radius: 117px 117px;
	border-top-right-radius: 117px 117px;
	border-bottom-left-radius: 117px 68px;
	border-bottom-right-radius: 117px 68px;
}

.head.animation2{
	-webkit-animation-name: headAni2;
	-webkit-animation-duration: 1s;
	background: #000;
}

@-webkit-keyframes headAni1{
	from {
		top:-800px;
		border: 1px solid #000;
		border-radius: 0;
	}

	50% {
		top:18px;
		border-radius: 0;
	}

	100% {
		border-top-left-radius: 117px 117px;
		border-top-right-radius: 117px 117px;
		border-bottom-left-radius: 117px 68px;
		border-bottom-right-radius: 117px 68px;
	}
}

@-webkit-keyframes headAni2 {
	from {
		background: transparent;
	}

	to{
		background: #000;
	}
}

/**
 * eye animation
 */

.eye.left.animation1, .eye.right.animation1 {
	-webkit-animation-name: eyeAni1;
	-webkit-animation-duration: 1s;
	opacity: 1;
}

@-webkit-keyframes eyeAni1{
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.eye.left.animation2, .eye.right.animation2 {
	-webkit-animation-name: eyeAni2;
	-webkit-animation-duration: 1s;
	background: #fff;
}

@-webkit-keyframes eyeAni2{
	from {
		background: transparent;
	}

	to {
		background: #fff;
	}
}

.eye.left.animation3, .eye.right.animation3 {
	-webkit-animation-name: eyeAni3;
	-webkit-animation-duration: 1s;
	border-radius: 50% 50%;
}

@-webkit-keyframes eyeAni3{
	from {
		border-radius: 0;
	}

	to {
		border-radius: 50% 50%;
	}
}

/**
 * mouth animation
 */

.mouthTop.animation1, .mouthBottom.animation1{
	-webkit-animation-name: mouthAni1;
	-webkit-animation-duration: 1s;
	opacity: 1;
}

@-webkit-keyframes mouthAni1 {
	from{
		opacity: 0;
	}

	to{
		opacity: 1;
	}
}

.mouthTop.animation2, .mouthBottom.animation2{
	-webkit-animation-name: mouthAni2;
	-webkit-animation-duration: 1s;
	background: #FFA600;
}

@-webkit-keyframes mouthAni2 {
	from{
		background: transparent;
	}

	to{
		background: #FFA600;
	}
}

.mouthTop.animation3{
	-webkit-animation-name: mouthAni3;
	-webkit-animation-duration: 1s;
	border-top-left-radius: 45% 34px;
	border-top-right-radius: 45% 34px;
}

@-webkit-keyframes mouthAni3 {
	from{
		border-radius: 0;
	}

	to{
		border-top-left-radius: 45% 34px;
		border-top-right-radius: 45% 34px;
	}
}

.mouthBottom.animation3 {
	-webkit-animation-name: mouthAni4;
	-webkit-animation-duration: 1s;
	border-bottom-left-radius: 45% 24px;
	border-bottom-right-radius: 45% 24px;
}

@-webkit-keyframes mouthAni4 {
	from{
		border-radius: 0;
	}

	to{
		border-bottom-left-radius: 45% 24px;
		border-bottom-right-radius: 45% 24px;
	}
}

.lips.animation1 {
	-webkit-animation-name: lipsAni1;
	-webkit-animation-duration: 1s;
	opacity: 1;
	top:246px;
}

@-webkit-keyframes lipsAni1{
	from{
		opacity: 0;
		top:246px;
	}

	to{
		opacity: 1;
		top:246px;
	}
}

.lips.animation2 {
	-webkit-animation-name: lipsAni2;
	-webkit-animation-duration: 2s;
	background: #FFA600;
	border-bottom-left-radius: 50% 100%;
	border-bottom-right-radius: 50% 100%;
}

@-webkit-keyframes lipsAni2{
	from {
		background: transparent;
		border-radius: 0;
	}

	50%{
		background: #FFA600;
		border-radius: 0;
	}

	100%{
		border-bottom-left-radius: 50% 100%;
		border-bottom-right-radius: 50% 100%;
	}
}

.lips.animation3 {
	-webkit-animation-name: lipsAni3;
	-webkit-animation-duration: 1s;
	top:146px;
}

@-webkit-keyframes lipsAni3{
	from{
		top: 246px;
	}

	to {
		top: 146px;
	}
}

/**
 * lips shadow animation
 */

#lsl.animation1 {
	-webkit-animation-name: lipShadowAni1;
	-webkit-animation-duration: 2s;
	top: 144px;
	opacity: 1;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-right: 8px solid black;
}

@-webkit-keyframes lipShadowAni1{
	from {
		opacity: 0;
		top: 4px;	
		border-top: 20px solid transparent;
		border-bottom: 20px solid transparent;
	}

	to {
		opacity: 1;
		top: 144px;
	}
}

#lsl.animation2 {
	-webkit-animation-name: lipShadowAni2;
	-webkit-animation-duration: 2s;
	-webkit-transform-origin: top right;
	top:144px;
	-webkit-transform: rotate(-60deg);
}

@-webkit-keyframes lipShadowAni2{
	from{
		-webkit-transform: rotate(0deg);
		top:144px;
	}

	to{
		-webkit-transform: rotate(-60deg);
		top:144px;
	}
}

#lsl.animation3 {
	-webkit-animation-name: lipShadowAni3;
	-webkit-animation-duration: 1s;
	top:4px;
}

@-webkit-keyframes lipShadowAni3{
	from{
		top: 144px;
	}
	to{
		top: 4px;
	}
}

#lsr.animation1 {
	-webkit-animation-name: lipShadowAni4;
	-webkit-animation-duration: 2s;
	left: 114px;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-right: 8px solid black;
	-webkit-transform-origin: top right;
	-webkit-transform: rotate(60deg) rotateY(180deg);
	opacity: 1;
}

@-webkit-keyframes lipShadowAni4{
	from{
		left: -12px;
		opacity: 0;
		top:4px;
	}
	to{
		top:4px;
		left: 114px;
		opacity: 1;
		border-top: 20px solid transparent;
		border-bottom: 20px solid transparent;
		border-right: 8px solid black;
	}
}